/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html {
  font-size: 10px;
  font-family: sans-serif;
  -webkit-tap-highlight-color: transparent;
  display: block;
  }

 body {
    padding-top: 70px;
    padding-bottom: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
    background-color: #fff;
  }

  a {
    text-decoration: none;
    background-color: transparent;
  }

  .navbar {
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    background-color: #222;
    border-color: #090909;
    top: 0;
    border-width: 0 0 1px;
    border-radius: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    float: left;
  }

  .navbar-header {
    float: right;
    margin-right: 15px;
    color: #9d9d9d;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 30px;
  }

  .navbar-brand {
    margin-left: -15px;
    color: #9d9d9d;
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 30px;
  }

  .navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #fff;
    border-color: #333;
    
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }

  button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    overflow: visible;
    color: inherit;
    font: inherit;
    margin: 0;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    align-items: flex-start;
  }

  button, select {
    text-transform: none;
  }

  .form {
    margin-bottom: 15px;
  }

  .theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
  }
  
  .theme-showcase > p > .btn {
    margin: 5px 0;
  }
  
  .center {
    text-align: center;
  }
  
  .pic,
  .info {
    padding: 20px;
    display: inline-block;
    background-color: #eeeeee;
    border-radius: 7px;
    vertical-align: middle;
    margin: 10px;
  }
  
  .info {
    height: 290px;
    text-align: left;
  }

  .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  div {
    display: block;
  }